@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background: #efe8d7;
}
@font-face {
  font-family: athene;
  src: url(../fonts/Athene.otf);
}
nav {
  background: transparent;
  position: fixed;
  border-bottom: 1px solid black;
  width: 100vw;
  height: 5vh;
  padding-bottom: 1em;
}
nav ul {
  list-style: none;
}
nav h5:first-of-type {
  color: #282b29;
  font-weight: lighter;
  position: fixed;
  top: 5px;
  left: 100px;
}
nav h5:last-of-type {
  color: #282b29;
  font-weight: lighter;
  position: fixed;
  top: 5px;
  right: 100px;
}
#tmpfolio {
  height: 140vh;
  text-align: center;
  color: #002a5a;
  font-family: athene;
}
#tmpfolio .temporary {
  font-size: 8em;
  font-weight: lighter;
  border-bottom: 1px solid;
  display: table;
  margin: 0 auto;
  padding-top: 0.5em;
}
#tmpfolio .folio {
  font-size: 8em;
  font-weight: lighter;
  border-bottom: 1px solid;
  /* padding-top: 0; */
  display: table;
  margin: 0 auto;
}
.spanline {
  letter-spacing: -12px;
}
#tmpfolio div {
  text-align: center;
}
#tmpfolio div img {
  margin-top: 0.5em;
}
#tmpfolio div h4 {
  font-size: 0.25em;
  font-weight: bolder;
  text-align: center;
  padding-right: 2em;
  margin: 0;
}
.developer {
  font-size: 0.9em;
  font-weight: lighter;
}
#release {
  font-family: athene;
  display: inline-block;
  background: #f4c4c4;
  height: 210vh;
  width: 100vw;
  color: black;
  margin: 0;
}
#release p {
  font-family: "Open Sans", sans-serif;
  margin-top: 5%;
  margin-left: 5%;
}
#release h1 {
  font-size: 8em;
  margin: 0;
  /* margin-left: 1%; */
}
.pfirstofall {
  font-family: "Open Sans", sans-serif;
  color: #282b29;
  font-size: 1em;
  text-align: left;
  font-weight: lighter;
  width: 550px;
  /* margin-left: 80%; */
  padding-left: 40%;
  line-height: 2;
}
table {
  font-family: "Open Sans", sans-serif;
  font-size: 0.5em;
  width: 50%;
  margin-top: 10%;
  margin-left: 38%;
  line-height: 6;
}
.tableheader {
  height: 1vh;
  font-weight: lighter;
  line-height: 1;
}
th {
  font-size: 2em;
  text-align: right;
  /* margin-bottom: 0; */
  border-bottom: 1px solid #282b29;
}
td {
  font-size: 2em;
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #282b29;
}

.tdfirst {
  width: 5%;
}
.tdsecond {
  width: 60%;
}
tr td:nth-child(odd) {
  font-size: 1.4em;
  width: 5%;
  line-height: 1;
}
tr td:last-of-type {
  text-align: right;
}
.worktogether {
  width: 8vw;
  margin-left: 80%;
  padding-top: 5%;
}
#works {
  font-family: athene;
  display: inline-block;
  background: #deb873;
  height: 600vh;
  width: 100vw;
  color: #7d2222;
  margin-top: 0;
  padding-top: 10%;
}
#works p:first-of-type {
  text-align: right;
  margin-right: 8%;
}
#works p:last-of-type {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  text-align: left;
  line-height: 2em;
  margin-top: 5%;
  margin-left: 5%;
  width: 520px;
}
#works h1 {
  text-align: right;
  font-size: 8em;
  margin: 0;
}
div:nth-child(odd) {
  font-size: 6em;
  text-align: left;
  margin-left: 5%;
  margin-bottom: 15%;
}
div:nth-child(even) {
  font-size: 6em;
  text-align: right;
  margin-right: 5%;
  margin-bottom: 15%;
}
.imgrodrigo {
  background: url(../img/bg-marconatto-1.jpg) right/contain no-repeat;
  height: 14%;
  margin-right: 5%;
  margin-top: 10%;
}
.imgkaethe {
  background: url(../img/kathe_cover-1.jpg) left/contain no-repeat;
  height: 14%;
  margin-left: 5%;
}
.imgvictor {
  background: url(../img/bg-nicole-1.jpg) right/contain no-repeat;
  height: 14%;
  margin-right: 5%;
  margin-top: 10%;
}
.imgbored {
  background: url(../img/boa_cover-1.jpg) left/contain no-repeat;
  height: 15%;
  margin-left: 5%;
}
#conta {
  margin: 0;
  font-family: athene;
  display: inline-block;
  background: #d2d2d2;
  color: #1d8883;
  height: 125vh;
  width: 100vw;
}
#conta p {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  line-height: 1.5em;
  width: 17em;
  margin-left: 13em;
  text-align: left;
}
#conta h1 {
  font-size: 8em;
  margin: 0;
}
#conta ul {
  text-align: right;
  text-decoration: none;
}
#conta li {
  display: inline-block;
  text-align: right;
  width: 100px;
  list-style: none;
  margin-top: 5em;
  margin-right: 5em;
  line-height: 3em;
}
#conta a {
  text-align: right;
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  color: #1d8883;
  text-decoration: none;
}
#conta a:nth-child(1) {
  padding-left: 1.5em;
}
#conta a:nth-child(4) {
  padding-left: 0.9em;
}
#conta a:hover {
  text-decoration: underline;
}
